body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #0e0e10; /* Темний фон */
    color: #fff; /* Білий текст */
}

header, nav, section, footer {
    padding: 20px;
}

header {
    background: #9146ff; /* Фіолетовий колір для заголовку */
    color: #fff;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center; /* Центрування навігації */
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #fff; /* Білий текст для посилань */
}

section {
    margin-bottom: 20px;
    background: #18181b; /* Темний фон для секцій */
    padding: 10px;
    color: #fff; /* Білий текст у секціях */
}

footer {
    text-align: center;
    background: #0e0e10; /* Темний фон для футера */
    color: #fff;
}
